<a href="https://colab.research.google.com/github/yongjaeahn/python_coding/blob/main/korean/source/04_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

	프로그램의 기본 구조

In [ ]:
# 입력(input)
first_number = input("덧셈을 할 첫번째 숫자 : ")
second_number = input("덧셈을 할 두번째 숫자 : ")

# 처리(process)
added_result = first_number + second_number

# 출력(output)
print(first_number + "와 " + second_number + "의 합은 " + added_result + "입니다.")

	자료형

	연산

실수 연산

In [ ]:
10.0 + 25.0
10.0 - 25.0
10.0 * 25.0
10.0 / 25.0
25.0 / 10.0
25.0 ** 2

In [ ]:
10.0 + 25.0
10.0 - 25.0
10.0 * 25.0
10.0 / 25.0
25.0 / 10.0
25.0 ** 2

625.0

In [ ]:
10.0 + 25.0

35.0

In [ ]:
10.0 - 25.0

-15.0

In [ ]:
10.0 * 25.0

250.0

In [ ]:
10.0 / 25.0

0.4

In [ ]:
25.0 / 10.0

2.5

In [ ]:
25.0 ** 2

625.0

정수 연산

In [ ]:
10 + 25
10 - 25
10 * 25
10 / 25
25 / 10
10 // 25
25 // 10
10 % 25
25 % 10
25 ** 2

정수와 실수가 혼합된 연산

In [ ]:
10 + 25.0
10.0 - 25
10 / 25.0
25 / 10.0
25.0 ** 2

복소수 연산

In [ ]:
(1+2j) + (3+4j)
(1+2j) - (3+4j)
(1+2j) * (3+4j)
(1+2j) / (3+4j)
(1+2j) * 2
(1+2j) * 2.1
(1+2j) ** 2

문자열 연산

In [ ]:
"10" + "20"
"10 " + "20"
"10" * 3
"10" - "20"
"10" * "20"
"10" / "20"
"10" ** "20"

In [ ]:
len('12345')

리스트 연산

In [ ]:
["홍길동","서울시 양천구"] + [175.5,265] + [10,90,95]
["Python","C"] * 3
2 in [1,3,5,7,9]
"C++" in ["Python","C","C++","Java"]
len([0,2,4,6,8])

	자료형 변환

In [ ]:
int("10")
str(10)
str(10.0)
float("10.1")
float(10)
complex(10,5)
int(10.6)
int("10.x")
"10" + "20"
int("10") + int("20")

In [ ]:
# 입력(input)
first_number = int(input("덧셈을 할 첫번째 숫자 : "))
second_number = int(input("덧셈을 할 두번째 숫자 : "))

# 처리(process)
added_result = first_number + second_number

# 출력(output)
print(str(first_number) + "와 " + str(second_number) + "의 합은 " + str(added_result) + "입니다.")

	변수와 상수

In [ ]:
sum = 10 + 20

In [ ]:
sum

30

In [ ]:
국어성적 = 100
국어성적

100

In [ ]:
sum = sum + 30
sum

60

In [ ]:
60 = 30 + 30

SyntaxError: ignored

In [ ]:
type(sum)
type("10")

In [ ]:
("홍길동","서울시 양천구") + (175.5,265) + (10,90,95)
("Python","C") * 3
2 in (1,3,5,7,9)
"C++" in ("Python","C","C++","Java")
len((0,2,4,6,8))

In [ ]:
list_var = [0,2,4,6,8]
tuple_var = (0,2,4,6,8)
list_var[0]
tuple_var[-1]
list_var[1]
tuple_var[3]
list_var[3] = 10
list_var
tuple_var[3] = 10

	프로그램 문장

In [ ]:
score = 90
score == 90
score != 90
score < 90
score <= 90
score > 90
score >= 90
score >= 80 and score <= 100
90 <= score <= 100
score <= 80 or score >= 100
not (90 <= score <= 100)

In [ ]:
a = "첫번째 변수값"
b = "두번째 변수값"
temp = a
a = b
b = temp
a
b

In [ ]:
a = "첫번째 변수값"
b = "두번째 변수값"
a, b = b, a
a
b

	함수

In [ ]:
function_output = input("함수의 입력 : ")
function_output

In [ ]:
print(10,20,30)

In [ ]:
print(10,"+",20,"=",30)

In [ ]:
help(input)

In [ ]:
first_number = input()
10
first_number

In [ ]:
input("덧셈을 할 첫번째 숫자 : ")
10

In [ ]:
help(print)

In [ ]:
first_number = "10"
second_number = "20"
added_result = "30"
print(first_number, "와", second_number, "의 합은", added_result, "입니다.")

In [ ]:
print(first_number + "와 " + second_number + "의 합은 " + added_result + "입니다.")

In [ ]:
print(10,20,30,sep=",")

In [ ]:
def add_two_numbers():
    print("add_two_numbers() 함수의 처리문장 1")

In [ ]:
type(add_two_numbers)

In [ ]:
add_two_numbers()

In [ ]:
def add_two_numbers(number1, number2):
    sum = number1 + number2
    return sum

returned_value = add_two_numbers(10,20)
returned_value

In [ ]:
def add_two_numbers(number1, number2):
  sum = number1 + number2
  return sum

returned_value = add_two_numbers(10,20)
print('10과 20의 합:',returned_value)

10과 20의 합: 30

In [ ]:
def add_two_numbers(number1, number2):
  sum = number1 + number2
  return sum

sum = add_two_numbers(10,20)
print('10과 20의 합:',sum)

In [ ]:
def variable_scope_test(local_parameter):
  local_variable = "지역변수"
  print("variable_scope_test() 함수의 지역 변수",locals())

global_variable = "전역변수"
variable_scope_test("인자")

variable_scope_test() 함수의 지역 변수 {'local_parameter': '인자', 'local_variable': '지역변수'}

In [ ]:
def variable_scope_test(local_parameter):
  local_variable = "지역변수"
  print("variable_scope_test() 함수의 지역 변수",locals())
  print("global_variable :",global_variable)

global_variable = "전역변수"
variable_scope_test("인자")

variable_scope_test() 함수의 지역 변수 {'local_parameter': '인자', 'local_variable': '지역변수'}
global_variable : 전역변수

In [ ]:
def variable_scope_test(local_parameter):
  local_variable = "지역변수"
  print("variable_scope_test() 함수의 지역 변수",locals())
  print("global_variable :",global_variable)
  global_variable = "전역변수 변경"

global_variable = "전역변수"
variable_scope_test("인자")

variable_scope_test() 함수의 지역 변수 {'local_parameter': '인자', 'local_variable': '지역변수'}

UnboundLocalError: ignored

In [ ]:
def variable_scope_test(local_parameter):
  global global_variable

  local_variable = "지역변수"
  print("variable_scope_test() 함수의 지역 변수",locals())
  print("global_variable :",global_variable)
  global_variable = "전역변수 변경"

global_variable = "전역변수"
variable_scope_test("인자")
print("global_variable :",global_variable)

variable_scope_test() 함수의 지역 변수 {'local_parameter': '인자', 'local_variable': '지역변수'}
global_variable : 전역변수
global_variable : 전역변수 변경

In [ ]:
def variable_scope_test(local_parameter):
  global global_variable

  local_variable = "지역변수"
  print("variable_scope_test() 함수의 지역 변수",locals())
  print("global_variable :",global_variable)
  global_variable = "전역변수 변경"
  print("variable_scope_test() 함수의 전역 변수",globals())

global_variable = "전역변수"
variable_scope_test("인자")

variable_scope_test() 함수의 지역 변수 {'local_parameter': '인자', 'local_variable': '지역변수'}
global_variable : 전역변수
variable_scope_test() 함수의 전역 변수 {'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")\nprint("global_variable :",global_variable)', 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n  print("variable_scope_test() 함수의 전역 변수",globals())\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")'], '_oh': {}, '_dh': ['/content'], 'In': ['', 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")\nprint("global_variable :",global_variable)', 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n  print("variable_scope_test() 함수의 전역 변수",globals())\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x79cf3fc3c3d0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x79cf3fc3cdc0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x79cf3fc3cdc0>, '_': '', '__': '', '___': '', '_i': 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")\nprint("global_variable :",global_variable)', '_ii': 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', '_iii': 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', '_i1': 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', 'variable_scope_test': <function variable_scope_test at 0x79cf2e7bc310>, 'global_variable': '전역변수 변경', '_i2': 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', '_i3': 'def variable_scope_test(local_parameter):\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")', '_i4': 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")\nprint("global_variable :",global_variable)', '_i5': 'def variable_scope_test(local_parameter):\n  global global_variable\n\n  local_variable = "지역변수"\n  print("variable_scope_test() 함수의 지역 변수",locals())\n  print("global_variable :",global_variable)\n  global_variable = "전역변수 변경"\n  print("variable_scope_test() 함수의 전역 변수",globals())\n\nglobal_variable = "전역변수"\nvariable_scope_test("인자")'}

In [ ]:
def return_multiple_values():
  #return (10,20,30)
  return 10,20,30

returned_values = return_multiple_values()
print("함수 반환값 :", returned_values)
print("함수 반환값 :", returned_values[0],returned_values[1],returned_values[2])
print("함수가 반환한 자료형 :", type(returned_values))

returned_value1, returned_value2, returned_value3 = return_multiple_values()
print("함수 반환값 :", returned_value1, returned_value2, returned_value3)

함수 반환값 : (10, 20, 30)
함수 반환값 : 10 20 30
함수가 반환한 자료형 : <class 'tuple'>
함수 반환값 : 10 20 30

In [ ]:
returned_values[0] = 5

TypeError: ignored

In [ ]:
returned_values = (40,50,60,70)
print("returned_values :", returned_values)

returned_values : (40, 50, 60, 70)

	구조적 프로그래밍

	제어문 – 선택 구조

참의 조건만 처리하는 if 선택문

In [ ]:
number1 = 10
number2 = 20
operator = "+"
if operator == "+":
  sum = number1 + number2
  print(number1, "+", number2, "=", sum)

10 + 20 = 30

참과 거짓의 조건을 함께 처리하는 if 선택문

In [ ]:
number1 = 10
number2 = 20
operator = "-"
if operator == "+":
  sum = number1 + number2
  print(number1, "+", number2, "=", sum)
else:
  print("덧셈 이외의 기능은 아직 구현되지 않았습니다.")

덧셈 이외의 기능은 아직 구현되지 않았습니다.

중첩 if 선택문

In [ ]:
number1 = 10
number2 = 20
operator = "-"
if operator == '+':
  sum = number1 + number2
  print(number1, "+", number2, "=", sum)
else:
  if operator == "-":
    minus = number1 - number2
    print(number1, "-", number2, "=", minus)
  else:
    print("덧셈과 뺄셈 이외의 기능은 아직 구현되지 않았습니다.")

10 - 20 = -10

if:와 elif: 문장을 함께 활용한 다중 선택 구조

In [ ]:
number1 = 10
number2 = 20
operator = "/"
if operator == "+":
  sum = number1 + number2
  print(number1, "+", number2, "=", sum)
elif operator == '-':
  minus = number1 - number2
  print(number1, "-", number2, "=", minus)
elif operator == '*':
  mul = number1 * number2
  print(number1, "*", number2, "=", mul)
elif operator == '/':
  div = number1 / number2
  print(number1, "/", number2, "=", div)
else:
  print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

10 / 20 = 0.5

In [ ]:
operator = '/'
divisor = 5
if operator == '/' and divisor != 0:
  print("나눗셈이 가능합니다.")

나눗셈이 가능합니다.

In [ ]:
operator = '/'
divisor = 5
if operator == '/':
  if divisor != 0:
    print("나눗셈이 가능합니다.")

나눗셈이 가능합니다.

In [ ]:
valid_operators = ['+','-','*','/']
operator = '/'
divisor = 0
if operator in valid_operators and (operator == '/' and divisor == 0):
  print("0으로 나눌 수 없어 연산이 가능하지 않습니다.")

0으로 나눌 수 없어 연산이 가능하지 않습니다.

In [ ]:
valid_operators = ['+','-','*','/']
operator = '/'
divisor = 0
if operator in valid_operators:
  if operator == '/' and divisor == 0:
    print("0으로 나눌 수 없어 연산이 가능하지 않습니다.")

0으로 나눌 수 없어 연산이 가능하지 않습니다.

	제어문 –  반복 구조

for 반복문

In [ ]:
values = ['one','two','three']
for value in values:
  print(value)

one
two
three

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for _ in range(5):
  print('처리할 문장들')

처리할 문장들
처리할 문장들
처리할 문장들
처리할 문장들
처리할 문장들

In [ ]:
sum = 0

for i in range(10):
  print(i + 1)
  sum += i + 1

print("1부터 10까지의 합은",sum)

1
2
3
4
5
6
7
8
9
10
1부터 10까지의 합은 55

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
sum = 0

for i in range(1,10,2):
  print(i)
  sum += i

print("1부터 10까지의 홀수의 합은",sum)

1
3
5
7
9
1부터 10까지의 홀수의 합은 25

In [ ]:
sum = 0

for i in range(2,10,2):
  print(i)
  sum += i

print("1부터 10까지의 짝수의 합은",sum)

2
4
6
8
1부터 10까지의 짝수의 합은 20

In [ ]:
sum = 0

for i in range(2,10+1,2):
  print(i)
  sum += i

print("1부터 10까지의 짝수의 합은",sum)

2
4
6
8
10
1부터 10까지의 짝수의 합은 30

In [ ]:
for i in range(2,5,2):
  for j in range(1,4):
    print(i, "x", j, "=", i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12

리스트 컴프리헨션

In [ ]:
squared_values = [i**2 for i in range(1,6)]
print(squared_values)

[1, 4, 9, 16, 25]

In [ ]:
squared_values = [i**2 for i in range(1,6) if i%2 == 1]
print(squared_values)

[1, 9, 25]

In [ ]:
list2d = [[1,2,3,],[4,5,6]]
squared_values = [[elem**2 for elem in sublist1d] for sublist1d in list2d]
print(squared_values)

[[1, 4, 9], [16, 25, 36]]

In [ ]:
word2vec = {'apple': 1,'banana': 2, 'peach': 10}
print(word2vec)
vec2word = { vector: word for word, vector in word2vec.items() if vector < 5 }
print(vec2word)

{'apple': 1, 'banana': 2, 'peach': 10}
{1: 'apple', 2: 'banana'}

while 반복문

In [ ]:
i = 0
while i < 3:
  print(i)
  i = i + 1

0
1
2

In [ ]:
# 초기 반복조건 설정
print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
operator = input("연산자 : ")

while operator != 'q':          # 반복조건을 판단하는 논리식
    # 입력(input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(process)
    added_result = first_number + second_number

    # 출력(output)
    print(str(first_number), operator, str(second_number), "=", str(added_result))

    # 반복조건 변경
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

In [ ]:
import math

# 초기 반복조건 설정
오차 = 100
허용오차 = 0.001

x = 3
old_exp_x = 1
i = 1

while 오차 > 허용오차:          # 반복조건을 판단하는 논리식
    exp_x = old_exp_x + 1/math.factorial(i) * x**i

    오차 = abs(exp_x - old_exp_x)  # 반복조건 변경

    old_exp_x = exp_x
    i = i + 1

print("무한급수를",i,"번 반복하여 찾아낸 exp(3) =",exp_x)
print("급수간 오차는",오차,"입니다.")

In [ ]:
import math

# 초기 반복조건 설정
오차 = 100
허용오차 = 0.001

x = 3
old_exp_x = 1
i = 1

#while 오차 > 허용오차:          # 반복조건을 판단하는 논리식
while True:
    if 오차 <= 허용오차: break

    exp_x = old_exp_x + 1/math.factorial(i) * x**i

    오차 = abs(exp_x - old_exp_x)  # 반복조건 변경

    old_exp_x = exp_x
    i = i + 1

print("무한급수를",i,"번 반복하여 찾아낸 exp(3) =",exp_x)
print("급수간 오차는",오차,"입니다.")

재귀적 함수 호출을 통한 반복

In [ ]:
sum = 0

for i in range(1,11):
  sum = sum + i

print('1~10까지 더한 합은',sum,'입니다.')

1~10까지 더한 합은 55 입니다.

In [ ]:
sum = 0
i = 1

while i <= 10:
  sum = sum + i
  i = i + 1

print('1~10까지 더한 합은',sum,'입니다.')

1~10까지 더한 합은 55 입니다.

In [ ]:
def add_to_10(i,sum):
  if i <= 10:
    sum = sum + i
    print('i :',i,', sum :',sum)
    i = i + 1
    add_to_10(i,sum)
  else:
    print('i :',i,', sum :',sum)
    print('1~10까지 더한 합은',sum,'입니다.')
    return

sum = 0
i = 1
add_to_10(i,sum)

i : 1 , sum : 1
i : 2 , sum : 3
i : 3 , sum : 6
i : 4 , sum : 10
i : 5 , sum : 15
i : 6 , sum : 21
i : 7 , sum : 28
i : 8 , sum : 36
i : 9 , sum : 45
i : 10 , sum : 55
i : 11 , sum : 55
1~10까지 더한 합은 55 입니다.

In [ ]:
def add_to_10(i):
  if i == 10: return i

  return i + add_to_10(i+1)

sum = add_to_10(1)
print('1~10까지 더한 합은',sum,'입니다.')

1~10까지 더한 합은 55 입니다.

In [ ]:
def func():
print("함수의 본문")

In [ ]:
def func():
  print("함수의 본문")

In [ ]:
list_var = [1,2,3,4,5]
print(list_var[5])

In [ ]:
list_var = [1,2,3,4,5]
print(list_var[5])

IndexError: ignored

In [ ]:
list_var = [1,2,3,4,5]
print(list_var[4])

5

In [ ]:
r = 5
pi = 4.14159
print("원의 넓이:",pi * r ** 2)

원의 넓이: 103.53975

In [ ]:
r = 5
pi = 3.14159
print("원의 넓이:",pi * r ** 2)

원의 넓이: 78.53975

In [ ]:
import math
r = 5
print("원의 넓이:",math.pi * r ** 2)

원의 넓이: 78.53981633974483

In [ ]:
r = 5
pi = 3.14159
area = round(pi * r ** 2,2)
expected_result = 78.54
print("실제값:",area)
print("예측값:",expected_result)
assert area == expected_result, "원의 넓이가 예상하는 결과와 다릅니다."

실제값: 78.54
예측값: 78.54

In [ ]:
r = 5
pi = 3.14159
area = pi * r ** 2
expected_result = 78.53981633974483
print("실제값:",area)
print("예측값:",expected_result)
assert area == expected_result, "원의 넓이가 예상하는 결과와 다릅니다."

실제값: 78.53975
예측값: 78.53981633974483

AssertionError: ignored

In [1]:
import math
r = 5
#pi = 3.14159
#area = pi * r ** 2
area = math.pi * r ** 2
expected_result = 78.53981633974483
print("실제값:",area)
print("예측값:",expected_result)
assert area == expected_result, "원의 넓이가 예상하는 결과와 다릅니다."

실제값: 78.53981633974483
예측값: 78.53981633974483

In [ ]:
def add_to_10(i):
  if i == 10: return i

  return i + add_to_10(i+1)

sum = add_to_10(1)
print('1~10까지 더한 합은',sum,'입니다.')

In [ ]:
def add_to_10(i):
  if i == 10:
    return i

  return i + add_to_10(i+1)

sum = add_to_10(1)
print('1~10까지 더한 합은',sum,'입니다.')

In [ ]:
def add_to_10(i):
  if i == 10:
    return i

  sum = i + add_to_10(i+1)
  return sum

sum = add_to_10(1)
print('1~10까지 더한 합은',sum,'입니다.')

In [ ]:
# 초기 반복조건 설정
print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
operator = input("연산자 : ")

while operator != 'q':          # 반복조건을 판단하는 논리식
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    if operator == '+':
        result = first_number + second_number
    elif operator == '-':
        result = first_number - second_number
    elif operator == '*':
        result = first_number * second_number
    elif operator == '/':
        result = first_number / second_number
    else:
        print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

    # 반복조건 변경
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

In [ ]:
eval("10+20")

30

In [ ]:
valid_operators = ['+','-','*','/']

# 초기 반복조건 설정
print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
operator = input("연산자 : ")

while operator != 'q':          # 반복조건을 판단하는 논리식
    if operator in valid_operators:
        # 입력(Input)
        first_number = int(input("첫번째 숫자 : "))
        second_number = int(input("두번째 숫자 : "))

        # 처리(Process)
        result = eval(str(first_number) + operator + str(second_number))

        # 출력(Output)
        print(str(first_number), operator, str(second_number), "=", str(result))
    else:
        print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

    # 반복조건 변경
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

In [ ]:
def calculate(operator):
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    result = eval(str(first_number) + operator + str(second_number))

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

valid_operators = ['+','-','*','/']

# 초기 반복조건 설정
print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
operator = input("연산자 : ")

while operator != 'q':          # 반복조건을 판단하는 논리식
    if operator in valid_operators:
        calculate(operator)
    else:
        print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

    # 반복조건 변경
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

	모듈, 패키지 그리고 import

In [ ]:
import math
math.exp(3)

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib

In [ ]:
import matplotlib.pyplot
x = [1,2,3]
y = [1,3,1]
matplotlib.pyplot.plot(x,y)
matplotlib.pyplot.show()

In [ ]:
import matplotlib.pyplot as plt
x = [1,2,3]
y = [1,3,1]
plt.plot(x,y)
plt.show()

In [ ]:
import matplotlib
type(matplotlib)
import matplotlib.pyplot as plt
type(matplotlib.pyplot)
type(plt)

In [ ]:
import math
exp(3)
math.exp(3)
from math import exp
exp(3)
from math import sin, cos
sin(0)
cos(0)
from math import *
tan(0)

In [ ]:
python.exe
import calculator

In [ ]:
def calculate(operator):
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    result = eval(str(first_number) + operator + str(second_number))

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

def main():
    valid_operators = ['+','-','*','/']

    # 초기 반복조건 설정
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

    while operator != 'q':          # 반복조건을 판단하는 논리식
        if operator in valid_operators:
            calculate(operator)
        else:
            print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

        # 반복조건 변경
        print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
        operator = input("연산자 : ")

In [ ]:
q
import calculator
calculator.calculate("*")

In [ ]:
exit()

	객체

In [ ]:
python.exe

In [ ]:
import calculator
type(calculator)
type(calculator.calculate)

In [ ]:
first_number = 10
dir(int)
dir(first_number)

In [ ]:
first_number = 10
type(first_number)
type(first_number.__dir__)
type(first_number.bit_count)
type(first_number.denominator)

In [ ]:
string_variable = "My name is Yong Jae Ahn"
type(string_variable)
string_variable.split()
string_variable.isupper()
string_variable.upper()
string_variable.upper().isupper()

In [ ]:
complex_variable = 3 + 4j
type(complex_variable)
complex_variable.real
complex_variable.imag
complex_variable.conjugate()

In [ ]:
import math
(complex_variable.real**2 + complex_variable.imag**2)**(1/2)
abs(complex_variable)
math.sqrt(complex_variable.real**2 + complex_variable.imag**2)

In [ ]:
import math
radius = 5
area = math.pi * radius**2
area
math.pi = 5
area = math.pi * radius**2
area
math.pi = None
area = math.pi * radius**2

In [ ]:
def calculate(operator):
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    result = eval(str(first_number) + operator + str(second_number))

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

def main():
    valid_operators = ['+','-','*','/']

    # 초기 반복조건 설정
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

    while operator != 'q':          # 반복조건을 판단하는 논리식
        if operator in valid_operators:
            calculate(operator)
        else:
            print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

        # 반복조건 변경
        print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
        operator = input("연산자 : ")

main()

In [ ]:
python.exe
import calculator

In [ ]:
import calculator
print(calculator.__name__)
print(__name__)

In [ ]:
def calculate(operator):
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    result = eval(str(first_number) + operator + str(second_number))

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

def main():
    valid_operators = ['+','-','*','/']

    # 초기 반복조건 설정
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")

    while operator != 'q':          # 반복조건을 판단하는 논리식
        if operator in valid_operators:
            calculate(operator)
        else:
            print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

        # 반복조건 변경
        print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
        operator = input("연산자 : ")

if __name__ == "__main__":
    main()

In [ ]:
python.exe
import calculator
exit()

In [ ]:
help(help)

In [ ]:
help(math)
import math
help(math)

In [ ]:
help(math.sin)

In [ ]:
import matplotlib
help(matplotlib)

In [ ]:
def calculate(operator):
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    result = eval(str(first_number) + operator + str(second_number))

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

def get_operator():
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")
    return operator

def main():
    valid_operators = ['+','-','*','/']

    # 초기 반복조건 설정
    #print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    #operator = input("연산자 : ")
    operator = get_operator()

    while operator != 'q':          # 반복조건을 판단하는 논리식
        if operator in valid_operators:
            calculate(operator)
        else:
            print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

        # 반복조건 변경
        #print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
        #operator = input("연산자 : ")
        operator = get_operator()

if __name__ == "__main__":
    main()

In [ ]:
def calculate(operator):
    # 입력(Input)
    first_number = int(input("첫번째 숫자 : "))
    second_number = int(input("두번째 숫자 : "))

    # 처리(Process)
    result = eval(str(first_number) + operator + str(second_number))

    # 출력(Output)
    print(str(first_number), operator, str(second_number), "=", str(result))

def get_operator():
    print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    operator = input("연산자 : ")
    return operator

def main():
    valid_operators = ['+','-','*','/']

    # 초기 반복조건 설정
    #print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
    #operator = input("연산자 : ")
    #operator = get_operator()

    #while operator != 'q':          # 반복조건을 판단하는 논리식
    while (operator := get_operator()) != 'q':          # 반복조건을 판단하는 논리식
        if operator in valid_operators:
            calculate(operator)
        else:
            print("사칙연산 이외의 기능은 아직 구현되지 않았습니다.")

        # 반복조건 변경
        #print("연산자를 입력하세요. 연산을 종료하려면 q를 입력한 후 Enter 키를 치세요.")
        #operator = input("연산자 : ")
        #operator = get_operator()

if __name__ == "__main__":
    main()

In [ ]:
operator = '+'
operator := '+'

In [ ]:
while operator = '+' != 'q':

In [ ]:
if operator := '+' != 'q':
    print(operator)

In [ ]:
if (operator := '+') != 'q':
    print(operator)